
body {
   font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;

}

header {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: beige;
  
}


.logo {
  flex: 1;
}

.mobil-ikon {
  width: 40px;
  height: 40px;
}

header nav ul {
  display: none;
  gap: 0.5rem;
  list-style: none;
}

#logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}


.categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categories article {
  flex:110;
}

footer {
  display: grid;
  text-align: center;
  padding: 3px;
  background-color: beige;
  color: white;
}

form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password]{
  width: 100%;
  padding:12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.imgvalgfriside {
  text-align: center;
  margin: 12px 5px;
}

img.logo {
  width: 40%;
  border-radius: 50%;
}

.valgfriside {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.picture {
  width: 100%;
}

.categories {
  display:flex;
  flex-direction: column;
}

.produkt-container {
  display:grid;
  grid-template-columns: 1fr;
}

footer {
   display: grid;
   text-align: center;
   padding: 3px;
   background-color: rgb(179, 179, 153);
   color: #000;
}

footer p {
   color: #000000;
}

.text-footer {
padding: 5%;
color: rgb(8, 7, 7);
}


form {
   border: 3px solid #f1f1f1;    
}

/*tabellen er fra en medstudent*/



.table-container {
  width: 100%;
  overflow-x: auto; /* Horisontal scrollbar når skjermen blir for liten */
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0; /* Fjerner mellomrom mellom celler */
  width: 100%;
}

table h3 { /* Kolonne overskrifter */
  font-size: 25px;
  font-weight: 500;
}

th, td { /* Tabell celler design */
  border: .1rem solid rgba(0,0,0,.15);
  text-align: left;
  padding: 20px;
}

tr:nth-child(even) { /* Setter annenhver celle i tabellen til en mørkere farge */
  background-color: #e9e9e9;
}

tr td:first-child {
  font-size: 16px;
  font-weight: 500;
}
td img {
  width: 100%;
}


/*.table {
   width: 100%;
   max-width: 768px;
}
td {
       padding: 5px;    
   }

img {
      max-width: 300;
   }

p {
       margin: 3px 0; 
   }
*/

@media only screen and (min-width: 850px) {
  .mobil-ikon {
      display: none;
  }

  header nav ul {
      display: flex;
      gap: 0.5rem;
      list-style: none;
  }

  /*#grid-container {

  }   
     /*grid-template-areas: "header main footer";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
  } */

  .categories {
      flex-direction: row;
      flex-wrap: nowrap;
  }

  
  .produkt-container {
      grid-template-columns: 1fr 1fr;
  }

}
 